<style>
div.catalog_left {
	margin-left:10px;
	padding-left:5px;
}

div.catalog_left:hover {
	margin-left:0px;
	border-left:10px solid #428BCA;
}
</style>

<link rel="stylesheet" type="text/css" href="./main.css" />

<div class="row">
	<div class="span12" style='margin-top:10px'>
		
		<div id='tusc_container_wrapper'></div>
		
		<div style='border-bottom:1px solid black;padding-bottom:2px'>
		<div id='loading' style='z-index:5;display:none;color:white;background-color:red;float:right;padding-left:2px'><i tt='loading'></i><br/><span id='loaded'></span></div>
		<a href='#' onclick='showCatalogs();return false' tt='catalogs'></a> | 
		<a href='#' onclick='showRecentChanges();return false' tt='recent_changes'></a> |
		<a href='#' onclick='showDisambig();return false' tt='disambig_links'></a> |
		<a href='#' onclick='showSameNames();return false' tt='same_name'></a> |
		<a href='#' onclick='showCreationCandidates();return false' tt='creation_candidates'></a> |
		<a href='#' onclick='showSearch();return false' tt='search'></a> |
		<a href='' id='permalink'><i tt='permalink'></i></a>
		</div>

	</div>
</div>


<div class="row" id='result_container'>
	<form style='display:inline'>
		<div class="span12" id='results' style='display:none'></div>
	</form>
	<div class="span12" id='results2' style='display:none;margin-top:20px;'></div>
</div>


<style>
span.noq   { font-weight:bold; padding-left:5px; border-left:5px solid red; }
span.autoq { font-weight:bold; padding-left:5px; border-left:5px solid #A27AFE; }
span.userq { font-weight:bold; padding-left:5px; border-left:5px solid green; }
.user_match { font-size:8pt; }
input.set_q { font-size:8pt; display:inline; }

a.green { color:green; }
a.red { color:red; }
a.yellow { color:#DFDF00; }

a.wiki { color:#62A9FF }
a.wikidata { color:#2966B8 }
a.external { color:#1FCB4A }

.qdesc {
	font-size:9pt !important;
}

.qdescmanual {
	color:#777;
	font-size:9pt !important;
}


tr.col1 td { background-color:#EEEEEE; }
tr.col2 td { background-color:none; }

td.numbers { text-align:right; font-family:courier; font-size:9pt;}
th.numbers { text-align:right; }

td.catalog_row_left {
	width:100%;
}

.catalog_no_prop {
	border-left:1px solid #FF8A8A;
}
</style>